[Unit]
Description=Reactor for Collector Service

[Service]
Type=simple
ExecStart=/etc/collector/reactor /etc/collector/configs/reactor.json
User=root

[Install]
WantedBy=multi-user.target